@model IEnumerable<Decks.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Front)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Back)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesStudied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Front)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Back)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesStudied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deck.DeckId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
